﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Forgotpass.aspx.cs" Inherits="AddisonProjectTracking.Forgotpass" %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Addison Project Tracking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="MyraStudio" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">


    <!-- App css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/theme.min.css" rel="stylesheet" type="text/css" />

</head>

<body>
   <form id="form1" runat="server">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center min-vh-100">
                        <div class="w-100 d-block my-5">
                            <div class="row justify-content-center">
                                <div class="col-md-8 col-lg-5">
                                     <div class="card card-animate">
                                        <div class="card-body">
                                            <div class="text-center mb-4 mt-3">
                                                <a href="index.html">
                                                   <span><img src="Images/Addison-logo-123x47.png" alt="" height="45"><img src="Images/addisonltd.png" alt="" height="35"/ ></span>
                                                </a>
                                            </div>
                                            <div class="text-center">
                                                <p class="text-muted w-75 mx-auto"> Enter your email address and we'll send you an email with instructions to reset your password. </p>
                                            </div>

                                                <div class="form-group">
                                                    <label for="emailaddress">Email address</label>
     <asp:TextBox ID="txtForgotPassword" placeholder="Enter Email" runat="server" CssClass="form-control"></asp:TextBox>    
                                                     <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ControlToValidate="txtForgotPassword"  Display="Dynamic" ErrorMessage="Enter Password" ForeColor="Red"></asp:RequiredFieldValidator>
                                                </div>
                                             <div class="form-group mb-4 pb-3">
                                                    <div class="custom-control custom-checkbox checkbox-primary">
                                                     <a href="Login.aspx" class="text-muted float-right">Back to Login</a>   
                                                    </div>
                                                </div>
                                            <asp:Label ID="Label1" runat="server" Text="" ForeColor="Red"></asp:Label>
                                                <div class="mb-3 text-center">
                                                   <%-- <button class="btn btn-primary btn-block" type="submit"> Reset Password </button>--%>
                        <asp:Button ID="btnForgot" runat="server" class="btn btn-primary btn-block"  Text="Reset Password" OnClick="btnForgot_Click" />
                                                </div>

                                        </div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end card -->
            
                                   <%-- <div class="row mt-4">
                                        <div class="col-sm-12 text-center">
                                            <p class="text-white-50 mb-0">Already have an account? <a href="pages-login.html" class="text-white-50 ml-1"><b>Sign In</b></a></p>
                                        </div>
                                    </div>--%>
            
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
                        </div> <!-- end .w-100 -->
                    </div> <!-- end .d-flex -->
                </div> <!-- end col-->
            </div> <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->

    <!-- jQuery  -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/metismenu.min.js"></script>
    <script src="assets/js/waves.js"></script>
    <script src="assets/js/simplebar.min.js"></script>

    <!-- App js -->
    <script src="assets/js/theme.js"></script>
 </form>
</body>
   
</html>
